<p>
Welcome, and thanks for helping us on this project.  We're Zonkle, an exciting
new web-based startup, and we need your help with communicating our message to
people so that they truly understand the power of what we are offering.
</p>

<p>
Zonkle is doing something really different and innovative - so much so that
sometimes it is hard for people to understand what it is we do. We truly
think outside the box - but a lot of people think inside the box, and we need
to help them understand what it is we are doing.
</p>

<p>
You can help us by doing a short exercise - it shouldn't take more than 5
minutes.
</p>

<p>
Thanks again for your help!
</p>

<%= button_to("Start", {:action => "new"}, :class => "btn btn-info") %>
