<p>
To begin, imagine that a good friend comes up to you and, with great
excitement, asks if you have heard of a cool company called Zonkle.
</p>

<p>
"No," you say.  "What's Zonkle?"
</p>

<p>
Your friend responds, "Zonkle is a leading <%= @explicit_label %> startup.  It's
really awesome." Before he can explain in more detail, however, he is called
away.
</p>

<p>
Curious, you decide to look up Zonkle on the web.  What you find is the
following description. (Press next.)
</p>

<%= link_to("Next", {:action => "desc"}, :class => "btn btn-info") %>
